<p style="color: green"><%= notice %></p>

<%= render @salary_fit %>

<div>
  <%= link_to "Edit this salary fit", edit_salary_fit_path(@salary_fit) %> |
  <%= link_to "Back to salary fits", salary_fits_path %>

  <%= button_to "Destroy this salary fit", @salary_fit, method: :delete %>
</div>
